<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yifan.dao.UserMapper">
    <select id="getUserList" resultType="User">
        select * from demo.user
    </select>

    <select id="getUserById" resultType="com.yifan.pojo.User" parameterType="int">
        select * from demo.user where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.yifan.pojo.User">
        insert into demo.user (name, age, phone) values(#{name}, #{age}, #{phone});
    </insert>

    <update id="updateUser" parameterType="com.yifan.pojo.User">
        update demo.user set name=#{name}, age=#{age}, phone=#{phone} where id = #{id};
    </update>
    
    <delete id="deleteUser" parameterType="int">
        delete from demo.user where id=#{id}
    </delete>
</mapper>